body {
    margin: 0%;
}

/*styling for navigation bar.ul*/

#nav {
    text-align: center;
    /*causes contents of the child elements to go center*/
    background-color: #4C565E;
    padding-top: 0%;
    width: 100%;
    position: fixed;


}



ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4C565E;


}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: pink;
    text-decoration-color: black;
}


#mainimage {
    background-image: url("../images/masaaki-komori.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 65%;
    position: relative;
}

h1 {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline;
    padding-right: 2%;
    color: #4C565E;
}